/* ==========================  musicInfo  ========================= */
.musicInfo-loading-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loading-spinner {
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top-color: #e66d0b;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ==========================  playBar  ========================= */
.playBar-loading-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
