.main-wrap {
  width: 67%;
  font-size: 14px;
  color: #fff;
}

.main-left {
  background-color: rgb(25, 25, 25);
  width: 18em;
}

.main-search-box {
  display: flex;
  width: 200px;
  margin: 11px;
  border: 1px solid rgb(51, 51, 51);
  padding: 7px;
  border-radius: 6px;
}

.main-search-input {
  background-color: rgb(25, 25, 25);
  border: none;
  outline: none;
  color: #fff;
  width: 180px;
  margin-right: 5px;
}
.main-search-btn {
  background-image: url("../../assets/magnifier1.png");
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.main-right {
  width: 100%;
  height: 89vh;
  /* overflow-y: auto;
  overflow-x: hidden; */
}

/* 음악 데이터 부분 */
.main-music-data-column-box,
.main-music-data-info-box {
  display: flex;
  padding: 2px 0px;
}

.music-info-number,
.music-column-number {
  min-width: 20px;
  text-align: center;
}

.music-info-image-title-box,
.music-column-title {
  width: 500px;
}

.music-info-artist,
.music-column-artist {
  width: 300px;
}

.music-info-createdAt,
.music-column-createdAt {
  width: 200px;
}

.music-info-duration,
.music-column-duration {
  width: 60px;
}

.music-info-duration {
  letter-spacing: 1px;
}

.music-info-action-btn,
.music-column-action-menu {
  width: 110px;
}

/* 더보기 버튼 */
.music-info-action-btn {
  position: relative; /* ul 기준 */

  display: none;
  margin-left: 100px;
  background-image: url("../../assets/more-button.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* hover 더보기 버튼 보여줌 */
.main-music-data-info-box:hover .music-info-action-btn {
  display: block;
}

.music-info-action-btn:active {
  display: block;
}

.music-info-action-btn:hover {
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  background-image: url("../../assets/more-button-hover.png");
}

.main-music-data-column-box > div,
.main-music-data-info-box > div:not(:last-child) {
  margin: 0px 20px;
}

.main-music-data-info-box {
  display: flex;
  align-items: center;
  /* cursor: pointer; */
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.main-music-data-info-box:hover {
  background-color: rgb(33, 33, 33);
}

.music-target {
  background-color: rgb(33, 33, 33);
  border: 1px solid rgb(73, 73, 73);
}

.music-info-image {
  background-image: url("../../assets/music-info-image.PNG");
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.music-info-image-title-box {
  display: flex;
  align-items: center;
}
.main-music-data-column-box {
  color: #dedede;
  height: 2em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(39, 39, 39);
  padding: 10px 0px;
}

/* =========================더보기  */
.music-info-action-btn ul {
  position: absolute; /* 기준인 div로 위치 설정 */
  border: none;
  right: 0;
  min-width: 120px;
  min-height: 80px;
  background-color: rgb(25, 25, 25);
  border-radius: 5%;
  z-index: 1000;
  outline: none;
  padding-left: 0px;
  margin: 30px 0px 0px 0px;
  pointer-events: auto;
}

.music-info-action-btn li {
  list-style: none;
  padding: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #dbdbdb;
}

.music-info-action-btn li:hover {
  background-color: #333333;
  border-radius: 5%;
}

.music-info-action-btn li::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 12px;
  background-size: cover;
  background-position: center;
}

/* 삭제하기 아이콘 */
.music-info-action-btn li:last-child::before {
  background-image: url("../../assets/delete-icon.png"); /* 삭제 아이콘 */
}
.music-info-action-btn li:last-child {
  color: rgb(255, 47, 47);
}

.music-info-action-btn li:first-child::before {
  background-image: url("../../assets/copy-icon-hover.png"); /* 복사 아이콘 */
}

/* ============================================= 로딩창  */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58.8em;
  font-size: 14px;
  color: #fff;
}

.loading-spinner {
  width: 30px; /* 로딩 아이콘 크기 */
  height: 30px;
  border: 5px solid #626262; /* 회색 테두리 */
  border-top: 5px solid #e66d0b;
  border-radius: 50%; /* 원형 */
  animation: spin 1s linear infinite; /* 애니메이션 */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music-item-undefined {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 370px;
  margin: 350px auto;
  color: #8c8c8c;
  font-size: 17px;
  cursor: pointer;
}

/* 스크롤바를 위해 추가한 컨테이너 */

.main-music-container {
  color: #fff;
  /* max-width: 360px; */
  height: 770px;
  overflow: auto;
}
.main-music-container::-webkit-scrollbar {
  width: 8px;
}
/* 스크롤바 배경 */
.main-music-container::-webkit-scrollbar-track {
  background-color: rgb(11, 11, 11);
}
.main-music-container::-webkit-scrollbar-thumb {
  background-color: rgb(33, 33, 33);
}
.main-music-container::-webkit-scrollbar-button {
  display: none;
}

/* hover 효과 */
.main-music-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(44, 44, 44);
  transition: all 0.2s; /* 작동 안 됨 */
}

/* 코너에 라운드 효과 */
.main-music-container::-webkit-scrollbar-track,
.main-music-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* ============================== */

.music-move-btn {
  display: none;
  background-image: url("../../assets/moveBtn-hover.png");
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-music-data-info-box:hover .music-move-btn {
  display: block;
}

.main-music-data-info-box:hover .music-info-number {
  display: none;
}
