.main-left {
  background-color: rgb(0, 0, 0);
  width: 23em;
  font-size: 14px;
  color: #dddddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.music-info {
  font-size: 18px;
  margin-bottom: 20px;
}

.music-info-image {
  background-image: url("../../assets/sum.jpg");
  width: 336px;
  height: 336px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.music-info-data > div {
  margin-top: 15px;
}

.title-info,
.artist-info,
.link-info,
.playtime-info {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 700;
}

.title-data,
.artist-data,
.playtime-data,
.link-data {
  font-size: 12px;
}

.music-info-controller {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.music-info-play-and-add {
  display: flex;
  gap: 15px;
}

.info-controller-play-btn {
  cursor: pointer;
  background-image: url("../../assets/play-btn-icon.png");
  width: 30px;
  height: 30px;
  margin-top: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.info-controller-play-btn:hover {
  background-image: url("../../assets/play-btn-icon-hover.png");
}

.info-controller-now-playlist-btn {
  cursor: pointer;
  background-image: url("../../assets/now-playlist.png");
  width: 35px;
  height: 35px;
  margin-top: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.info-controller-now-playlist-btn:hover {
  background-image: url("../../assets/now-playlist-hover.png");
}

.controller-add-playlist {
  cursor: pointer;
  background-image: url("../../assets/plus-icon.png");
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.controller-add-playlist:hover {
  background-image: url("../../assets/plus-icon-hover.png");
}

.link-data {
  word-wrap: break-word; /* 오래된 브라우저에서도 지원 */
  overflow-wrap: break-word; /* 현대 브라우저에서 주로 사용 */
}

/* ============================================ 재생목록 */
/* 스타일 팝업 */
.playlist-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 어두운 반투명 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* 팝업이 가장 위에 보이도록 */
}

.playlist-popup-content {
  background-color: #1e1e1e; /* 어두운 배경색 */
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 80%;
  color: #dddddd; /* 텍스트 색상 */

  margin-bottom: 100px;
}

.playlist-popup-content h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #f5f5f5; /* 제목 색상 */
  margin-bottom: 0px;
}

.playlist-popup-content ul li {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  color: #dddddd; /* 텍스트 색상 */
}

.playlist-popup-content ul li:hover {
  background-color: #333333; /* hover 시 더 어두운 배경 */
}

.playlist-popup-close {
  cursor: pointer;
  background-image: url("../../assets/x-icon.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.playlist-popup-close:hover {
  background-image: url("../../assets/x-icon-hover.png");
}

.playlist-popup-add {
  cursor: pointer;
  background-image: url("../../assets/add-folder-icon.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.playlist-popup-add:hover {
  background-image: url("../../assets/add-folder-icon-hover.png");
}

.playlist-popup-center {
  width: 19em;
}

.playlist-popup-center li {
  font-size: 15px;
}

.playlist-popup-top {
  display: flex;
  justify-content: space-between;
}

.playlist-popup-bottom {
  display: flex;
  justify-content: flex-end;
}

/* =================================add 추가 팝업 */
.add-playlist-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.add-playlist-popup-content {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 80%;
  color: #dddddd;

  margin-bottom: 100px;
}

.add-playlist-popup-content h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #f5f5f5;
}

.add-playlist-popup-top,
.add-playlist-popup-bottom {
  display: flex;
  justify-content: space-between;
}

.add-playlist-popup-bottom input {
  width: 19em;
  border: 1px solid #cccccc;
  border-radius: 5px; /* 모서리를 둥글게 */
}

.add-playlist-popup-bottom input:focus {
  border: 1px solid #cccccc;
  outline: none; /* 기본 outline 제거 */
}

.add-playlist-popup-close-btn {
  cursor: pointer;
  background-image: url("../../assets/x-icon.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.add-playlist-popup-close-btn:hover {
  background-image: url("../../assets/x-icon-hover.png");
}

.add-playlist-popup-add-btn {
  cursor: pointer;
  background-image: url("../../assets/plus-icon.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.add-playlist-popup-add-btn:hover {
  background-image: url("../../assets/plus-icon-hover.png");
}

.blur {
  filter: blur(2px); /* 흐림 효과 */
}
