.menu-container {
  background-color: rgb(25, 25, 25);
  width: 18em;
  font-size: 14px;
  color: #fff;
  /* padding: 10px; */
}
/* user info */
.menu-sign-box {
  display: flex;
  width: 230px;
  border-radius: 6px;
  justify-content: space-between;
  padding: 0px 10px;
  margin: 20px 0px 10px 0px;
}

.menu-user-sign-in-btn {
  margin-left: 10px;
}

.menu-user-sign-up-btn {
  margin-right: 10px;
}

.menu-user-sign-in-btn,
.menu-user-sign-up-btn {
  cursor: pointer;
  border: none;
  background-color: rgb(37, 37, 37);
  border-radius: 10%;
  width: 85px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu-box {
  margin-top: 20px;
}

.main-menu-item2 {
  padding: 0px 20px;
}

.main-menu-item2 p {
  cursor: pointer;
}
.main-menu-item1,
.main-menu-item3,
.main-menu-item4,
.main-menu-item5,
.main-menu-item6 {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
}

.main-menu-item2 li {
  height: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  color: #b7b7b7;
  list-style: none;
  margin-bottom: 5px;
  padding: 5px 0px 7px 10px;

  display: flex;
  align-items: center;
}

.main-menu-item2 ul {
  padding-left: 10px;
}

.main-menu-item2 li:hover {
  background-color: #333333;
}

.menu-user-info-image {
  cursor: pointer;
  background-image: url("../../assets/default-profile.png");
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background-size: 180%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}
.menu-user-info-email {
  display: flex;
  justify-content: center;
  padding-top: 4px;
}

.menu-user-info-box {
  display: flex;
  width: 230px;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: #292929;
}

.menu-user-info-logout-btn {
  cursor: pointer;
  background-image: url("../../assets/sign-out-hover.png");
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}
/* ===================== 더보기 ====================== */

.menu-item-action-btn {
  width: 110px;
}
.menu-item-action-btn {
  position: relative; /* ul 기준 */

  display: none;
  /* margin-left: 135px; */
  background-image: url("../../assets/more-button.png");
  width: 24.5px;
  height: 24.5px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.main-menu-item-li:hover .menu-item-action-btn {
  display: block;
}

.main-menu-item-li {
  display: flex;
  justify-content: space-between;
}

.menu-item-action-btn:hover {
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  background-image: url("../../assets/more-button-hover.png");
}

.menu-item-action-btn ul {
  position: absolute; /* 기준인 div로 위치 설정 */
  border: none;
  min-width: 120px;
  min-height: 80px;
  background-color: rgb(33, 33, 33);
  border-radius: 5%;
  z-index: 1000;
  outline: none;
  padding-left: 0px;
  margin: 30px 0px 0px 0px;
  pointer-events: auto;
}

.menu-item-action-btn li {
  font-size: 12px;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #dbdbdb;
}

.menu-item-action-btn li:hover {
  background-color: #333333;
  border-radius: 5%;
}

.menu-item-action-btn li::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0px 12px 0px 5px;
  background-size: cover;
  background-position: center;
}

/* 삭제하기 아이콘 */
.menu-item-action-btn li:last-child::before {
  background-image: url("../../assets/delete-icon.png"); /* 삭제 아이콘 */
}
.menu-item-action-btn li:last-child {
  color: rgb(255, 47, 47);
}

.menu-item-action-btn li:first-child::before {
  background-image: url("../../assets/modify-icon-hover.png"); /* 복사 아이콘 */
}

/* 재생목록 제목 수정 css */
/* =================================add 추가 팝업 */
.modify-playlist-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 어두운 반투명 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* 팝업이 가장 위에 보이도록 */
}

.modify-playlist-popup-content {
  background-color: #1e1e1e;
  padding: 25px;
  border-radius: 8px;
  width: 300px;
  max-width: 80%;
  color: #dddddd;

  margin-bottom: 100px;
}

.modify-playlist-popup-content h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #f5f5f5;
}

.modify-playlist-popup-top,
.modify-playlist-popup-bottom {
  display: flex;
  justify-content: space-between;
}

.modify-playlist-popup-bottom {
  align-items: center;
}

.modify-playlist-popup-bottom input {
  width: 19em;
  height: 1.5em;
  border: 1px solid #cccccc;
  border-radius: 5px; /* 모서리를 둥글게 */
}

.modify-playlist-popup-bottom input:focus {
  border: 1px solid #cccccc;
  outline: none; /* 기본 outline 제거 */
}

.modify-playlist-popup-close-btn {
  cursor: pointer;
  background-image: url("../../assets/x-icon.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modify-playlist-popup-close-btn:hover {
  background-image: url("../../assets/x-icon-hover.png");
}

.modify-playlist-popup-btn {
  cursor: pointer;
  background-image: url("../../assets/modify-icon.png");
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 3px;
}

.modify-playlist-popup-btn:hover {
  background-image: url("../../assets/modify-icon-hover.png");
}
