.menu-container {
  background-color: rgb(25, 25, 25);
  width: 18em;
  font-size: 14px;
  color: #fff;
  /* padding: 10px; */
}
/* user info */
.menu-sign-box {
  display: flex;
  width: 230px;
  border-radius: 6px;
  justify-content: space-between;
  padding: 0px 10px;
  margin: 20px 0px 10px 0px;
}

.menu-user-sign-in-btn {
  margin-left: 10px;
}

.menu-user-sign-up-btn {
  margin-right: 10px;
}

.menu-user-sign-in-btn,
.menu-user-sign-up-btn {
  cursor: pointer;
  border: none;
  background-color: rgb(37, 37, 37);
  border-radius: 10%;
  width: 85px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu-box {
  margin-top: 20px;
}

.main-menu-item2 {
  padding: 0px 20px;
}

.main-menu-item2 p {
  cursor: pointer;
}
.main-menu-item1,
.main-menu-item3,
.main-menu-item4,
.main-menu-item5 {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
}

.main-menu-item2 li {
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  color: #b7b7b7;
  list-style: none;
  margin-bottom: 5px;
  padding: 5px 5px 7px 10px;

  display: flex;
  align-items: center;
}

.main-menu-item2 ul {
  padding-left: 10px;
}

.main-menu-item2 li:hover {
  background-color: #333333;
}

.menu-user-info-image {
  cursor: pointer;
  background-image: url("../../assets/default-profile.png");
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background-size: 180%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}
.menu-user-info-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-user-info-box {
  display: flex;
  width: 230px;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: #292929;
}

.menu-user-info-logout-btn {
  cursor: pointer;
  background-image: url("../../assets/sign-out-hover.png");
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}
