.main-wrap {
  /* border: 1px solid wheat; */
  background-color: rgb(0, 0, 0);
  width: 19.6%;
  height: 100%;
  font-size: 14px;
  color: #dddddd;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
}

.now-music-name {
  font-size: 18px;
  padding: 20px 0px 20px 10px;
}

.now-music-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.now-music-delete-btn {
  background-image: url("../../assets/delete-icon.png");
  width: 17px;
  height: 17px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.now-music-action-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.now-music-add-btn {
  background-image: url("../../assets/add-playlist-icon.png");
  width: 17px;
  height: 17px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.now-music-add-btn:hover {
  background-image: url("../../assets/add-playlist-icon-hover.png");
}

/* ==========스크롤바  */
.now-music-item-mid {
  color: #fff;
  /* max-width: 360px; */
  width: 100%;

  height: 91%;
  overflow: auto;
}
.now-music-item-mid::-webkit-scrollbar {
  width: 8px;
}
/* 스크롤바 배경 */
.now-music-item-mid::-webkit-scrollbar-track {
  background-color: rgb(11, 11, 11);
}
.now-music-item-mid::-webkit-scrollbar-thumb {
  background-color: rgb(33, 33, 33);
}
.now-music-item-mid::-webkit-scrollbar-button {
  display: none;
}

/* hover 효과 */
.now-music-item-mid::-webkit-scrollbar-thumb:hover {
  background-color: rgb(44, 44, 44);
  transition: all 0.2s; /* 작동 안 됨 */
}

/* 코너에 라운드 효과 */
.now-music-item-mid::-webkit-scrollbar-track,
.now-music-item-mid::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* ====================아이템 */
.now-music-container {
  width: 100%;
  height: 92%;
}

.now-music-item {
  width: 99%;
  height: 8%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.now-music-item:hover {
  background-color: rgb(33, 33, 33);
}

.now-music-image {
  background-image: url("../../assets/album.png");
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  border-radius: 10px;
}

.now-music-info-box {
  margin: 10px 2px;
  width: 70%;
}

.now-muisc-info-author {
  color: #666666;
}

.now-muisc-info-title {
  white-space: nowrap; /* 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 말줄임표 표시 */
}

.now-music-bottom {
  display: flex;
  justify-content: space-between;
}

.now-music-search-btn {
  cursor: pointer;
  background-image: url("../../assets/magnifier2.png");
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px 20px 20px 10px;
}

.now-music-search-btn:hover {
  background-image: url("../../assets/magnifier1.png");
}

.music-item-undefined {
  height: 92.1%;
}

.music-target {
  background-color: rgb(33, 33, 33);
  border: 1px solid rgb(73, 73, 73);
  color: #e35647;
}

.now-music-move-btn {
  display: none;
  background-image: url("../../assets/moveBtn-hover.png");
  width: 20px;
  height: 20px;
  background-size: cover;
  margin: 20px 0px;
}

.now-music-item:hover .now-music-move-btn {
  display: block;
}

.now-music-mode-cancel-btn {
  background-image: url("../../assets/x-icon.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.now-music-mode-cancel-btn:hover {
  background-image: url("../../assets/x-icon-hover.png");
}
